body{
background-image: url(teste.gif);
}

h1{
color: white;
font-size: 70px;
pedding: 10px;
font-family: 'Roboto', sans-serif;
}

.bom{
color: white;
font-size: 70px;
pedding: 10px;
font-family: 'Roboto', sans-serif;
margin-left: 40%;
}

h2{
color: white;
font-size: 20px;
}

header nav ul{
list-style: none;
}

header nav ul li{
margin-top: 30px;
}

.text{
color: red;
margin: 20px;
}

header nav ul li a{
text-decoration: none;
color: red;
font-family: 'Roboto', sans-serif;
font-size: 37px;
}

h4{
color: gray;
font-size: 12;
}

.con nav ul li{
margin-top: 80px;
}

.con nav ul li a{
text-decoration: none;
color: black;
font-family: 'Roboto', sans-serif;
font-size: 60px;
}

.daw{
color: blue;
margin-top: 70px;
}

.com nav ul li{
margin-top: 30px;
}

.com nav ul li a{
text-decoration: none;
font-family: 'Roboto', sans-serif;
color: cyan;
font-size: 37;
}

.nom{
background-image: url(foto2.gif);
}

.kkk{
margin-top: 30;
}